# Use the latest 2.1 version of CircleCI pipeline processing engine, see https://circleci.com/docs/2.0/configuration-reference/
version: 2.1

# Orchestrate or schedule a set of jobs, see https://circleci.com/docs/2.0/workflows/
jobs:
  deoploy_api:
    docker:
      image: docker:stable-git
    steps:
      - checkout
      - setup_remote_docker
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t bttf/capcal:$TAG .     
          docker login -u $DOCKER_USER -p $DOCKER_PASS
          docker push bttf/capcal:$TAG

workflows:
  capcal-web-app:
    jobs:
      - deploy_api
