version: 2.1

jobs:
  deploy_api:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run:
          name: Prime known_hosts
          command: ssh-keyscan -H capcal.redpine.software >> ~/.ssh/known_hosts
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          cd api
          yarn && yarn build
          tar czf capcal-api-$TAG.tar.gz dist
          scp capcal-api-$TAG.tar.gz bttf@capcal.redpine.software:/home/bttf
          ssh bttf@capcal.redpine.software "~/deploy-capcal-api.sh capcal-api-$TAG.tar.gz"
          cd ../frontend
          yarn && yarn build -prod
          tar czf capcal-frontend-$TAG.tar.gz build
          scp capcal-frontend-$TAG.tar.gz bttf@capcal.redpine.software:/home/bttf
          ssh bttf@capcal.redpine.software "~/deploy-capcal-frontend.sh capcal-frontend-$TAG.tar.gz"
workflows:
  capcal-web-app:
    jobs:
      - deploy_api
