version: 2.1

jobs:
  deploy_api:
    docker:
      - image: docker:stable-git
    steps:
      - checkout
      - setup_remote_docker
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          cd api
          docker build -t bttf/capcal:latest -t bttf/capcal:$TAG . 
          docker login -u $DOCKER_USER -p $DOCKER_PASS
          docker push bttf/capcal:$TAG
          docker push bttf/capcal:latest

workflows:
  capcal-web-app:
    jobs:
      - deploy_api
